input:nth-of-type(1):checked ~ .target {
    margin-top: 1em;
}

input:nth-of-type(2):checked ~ .target {
    margin-top: 2em;
}

input:nth-of-type(3):checked ~ .target {
    margin-top: 3em;
}

input:nth-of-type(4):checked ~ .target {
    margin-top: 4em;
}

.target {
    background-color: lightblue;
    display: block;
    box-sizing: border-box;
    padding: var(--font-size);
    width: var(--inner-width);
}