.possible-wall {
    overflow: hidden;
}

.possible-wall::before {
    font-size: 100vw;
    counter-set: value var(--value);
}

.possible-wall-a::before {
    content: counter(value, possible-wall-a);
}

.possible-wall-b::before {
    content: counter(value, possible-wall-b);
}

.possible-wall-c::before {
    content: counter(value, possible-wall-c);
}