@counter-style random-a {
  system: cyclic;
  symbols: "" "█" "█" "" "█" "" "";
}

@counter-style random-b {
  system: cyclic;
  symbols: "" "" "" "█" "" "" "█";
}

@counter-style random-c {
  system: cyclic;
  symbols: "█" "" "" "" "" "█" "";
}
