.wall-of-text {
    --brick-height: 10px;
    --brick-width: calc(2 * var(--brick-height));
    --wall-color: #88000d;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.wall-of-text span {
    font-weight: bold;
}

.wall-of-text__wall {
    font-size: 10em;
}

.wall-of-text__of {
    font-size: 4em;
    margin: -0.5em;
}

.wall-of-text__text {
    font-size: 10em;
}